.button-css{
background-color:Transparent;
border:1px solid #18A999;
padding:5px 10px;
color:#18A999;
border-radius:5px;
margin-right:10px;
}

.button-css:focus{
    border:1px solid #18A999; 
    outline: none;
}