$babyPowder: #fdfffc;
$oxfordBlue: #02182b;
$persianGreen: #18a999;

.contact-top {
  position: absolute;
  top: 400vh;
  width: 100%;
  height: 300px;
  background-color: $oxfordBlue;
  padding: 30px;
  h2,
  p {
    color: $babyPowder;
  }
  a {
    text-decoration: none;
    color: $babyPowder;
    &:hover {
      color: $babyPowder;
      text-decoration: none;
    }
  }
}

@media only screen and (max-width: 699px) {
  .contact-top {
    position: absolute;
    top: 720vh;
    width: 100%;
    height: 60%;
    background-color: $oxfordBlue;
    padding: 30px;
  }
}
