$babyPowder : #FDFFFC;
$oxfordBlue : #02182B;
$persianGreen : #18A999;
.header{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 30px;
    padding: 0px 20px;
    color: $babyPowder;
    background-color: $persianGreen;
    a{
        color: $babyPowder;
        &:hover{
            text-decoration: none;
        }
    }
    
}